<html>
    <head>
        <style>
            body 
            {
                background-image: url('static/po.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed; 
                background-size: 100% 100%;
            }
            h1 {text-align: center; color:blueviolet;
                padding-top: 10%}
            button {text-align: center; }
        </style>
    </head>   
<body>
    <h1>Welcome to Broadway Sale Predictor!</h1>
    <form method="POST" action="/">
        <button type="button" Text-align: center name="Predictor" value="Predictor" onclick="window.location.href='{{url_for('SalePredictor')}}';"> Gross Sale Predictor</button>
</form>
</body>
</html>